.Backgorund-Main {
    background: grey;
} 

.btn {
    width: 79%;
    height: 100px;  
    background-color : skyblue; 
    float : left;
    border : 2px solid skyblue;
    display : block;
} 

#btn_date {
    width: 20%; 
    height :100px;
    color : blueviolet  ; 
    float : left;
    font-size : 20px;  
    display : block;
    border: none;

}


.important {
    width : 79%; 
    height : 400px; 
    background-color : darkgrey;
    font-size : 50px;  
} 

.btn{
    font-size: 60px;
}