html {
    /* height : 100%; */
}

body {
    /* display : flex; */
    /* min-width: 100%; */
    /* flex-wrap : nowrap; */
    /* justify-content:  center; */
    background-color: #f5f5f5;
}
.Backgorund-Main {
    background: grey;
} 

.btn {
    width : 80%;
    height: 100px;  
    background-color : skyblue; 
    float : left;
    border : 2px solid skyblue;
    display : block;
} 

#btn_date {
    width : 19%;
    height :40px;
    color : blueviolet  ; 
    float : left;
    font-size : 20px;  
    display : block;
    border: none;

}


.important-wrapper {
    width : 80%;
    height : 400px; 
    float: left;
    background-color : darkgrey;
} 

.btn{
    font-size: 60px;
}

.important-wrapper {
    text-align : left;
}

.important_Work {
    font-size : 35px;
    margin : 20px;
    
}

.todo-box {
    size : 40px;
}  

.complete-all-btn { 
    /* 첫 번째 체크박스  */
    width : 40px; 
    height : 30px; 
    margin-left: 20px;
} 

.todo-input { 
    width : 300px;
    height : 20px;
}

